.grid {
    perspective: 400px;
    color: $yellow;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 200%;
    letter-spacing: 6px;
    cursor: pointer;
    min-height: 200px;

    .name {
        text-align: center;
    }
  }
  
  .crawl {
    position: relative;
    animation: crawl 60s linear;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(5deg) translateZ(0);
    }
    5% {
      top: 0;
      transform: rotateX(15deg) translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-3500px);
    }
  }

  @media only screen and (max-width: 600px) {
    .grid {
      font-size: 100%;
    }
  }
